img {
    max-width: 100%;
    border-radius: 50%;
  }
  .testifier_info {
    display: flex;
  }
  .testifier_intro {
    margin-left: 1em;
  }
  .testifier_intro > h3 {
    color: hsl(0, 0%, 100%, 0.5);
  }
  .grid-item1 {
    background-color: hsl(263, 55%, 52%);
  }
  .grid-item2 {
    background-color: hsl(217, 19%, 35%);
  }
  .grid-item3, .grid-item5 {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
  }
  .grid-item3 h3, .grid-item5 h3 {
    color: hsl(217, 19%, 35%, 0.5);
  }
  .grid-item4 {
    background-color: hsl(219, 29%, 14%);
  }
  .grid-item > h2, .grid-item > p {
    margin-top: 1em;
  }
  .grid-item {
    padding: 1.3em;
    border-radius: 0.5em;
    margin-top: 1.2em;
  }
  @media (min-width: 750px) {
    .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "a a b e"
    "c d d e";
    grid-gap: 1em;
  }
  .grid-item1 {
    grid-area: a;
  }
  .grid-item2 {
    grid-area: b;
  }
  .grid-item3 {
    grid-area: c;
  }
  .grid-item4 {
    grid-area: d;
  }
  .grid-item5 {
    grid-area: e;
  }
  }